<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>new-jdbc-prj-first</display-name>

	<!-- Khi tạo file beans.xml phải khai báo thêm -->
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<!-- Để decorator có thể nhận diện url nó như thế nào là admin, không có 
		gì hoặc api. -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Để lớp AuthorizationFilter có thể hoạt động được. -->
	<filter>
		<filter-name>servletFilter</filter-name>
		<filter-class>com.tuhocjavaweb.filter.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>servletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Dùng để xóa đoạn session ở cuối url, vd: http://localhost:8081/new-jdbc-prj-first/trang-chu(-sessiondfskdfsdf) -->
	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>